@charset "UTF-8";
/* flex containers에 적용 */
/* flex items에 적용 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,
textarea,
button,
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  margin: 0;
  padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  display: block;
}

html,
body {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

img,
form,
fieldset,
svg,
li {
  border: 0;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

button::-moz-focus-inner {
  padding: 0;
  margin: -1px;
}

input,
button,
select {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address,
caption,
em {
  font-style: normal;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Lato*/
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  src: url("../../font/Lato-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 100;
  src: url("../../font/Lato-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../../font/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  src: url("../../font/Lato-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../../font/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("../../font/Lato-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../../font/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  src: url("../../font/Lato-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../../font/Lato-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 900;
  src: url("../../font/Lato-BlackItalic.ttf") format("truetype");
}
/* Lora*/
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 300;
  src: url("../../font/Lora-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Lora";
  font-style: italic;
  font-weight: 300;
  src: url("../../font/Lora-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: url("../../font/Lora-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lora";
  font-style: italic;
  font-weight: 400;
  src: url("../../font/Lora-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 500;
  src: url("../../font/Lora-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Lora";
  font-style: italic;
  font-weight: 500;
  src: url("../../font/Lora-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 600;
  src: url("../../font/Lora-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Lora";
  font-style: italic;
  font-weight: 600;
  src: url("../../font/Lora-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  src: url("../../font/Lora-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lora";
  font-style: italic;
  font-weight: 700;
  src: url("../../font/Lora-BoldItalic.ttf") format("truetype");
}
.container {
  max-width: 1376px;
  margin: auto;
  padding: 0 32.5px;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .container {
    max-width: 1376px;
    max-width: 100.7320644217vw;
  }
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .container {
    padding: 0px 8px;
    padding: 0vw 0.5856515373vw;
  }
}
@media (max-width: 828px) {
  .container {
    max-width: 2752px;
    max-width: 332.3671497585vw;
    padding: 0px 16px;
    padding: 0vw 1.9323671498vw;
  }
}
@media (max-width: 828px) and (max-width: 414px) {
  .container {
    max-width: 1376px;
    max-width: 332.3671497585vw;
  }
}
@media (max-width: 828px) and (max-width: 414px) {
  .container {
    padding: 0px 8px;
    padding: 0vw 1.9323671498vw;
  }
}

@media (max-width: 828px) {
  .pc-only {
    display: none;
  }
}

.mo-only {
  display: none;
}
@media (max-width: 828px) {
  .mo-only {
    display: initial;
  }
}

.image-wrap {
  position: relative;
  overflow: hidden;
}
.image-wrap.is-active::before {
  transform: translateX(-100%);
}
.image-wrap.is-active img {
  transform: scale(1);
}
.image-wrap::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  content: "";
  z-index: 1;
  transition: transform 0.5s ease-in;
}
.image-wrap img {
  width: 100%;
  transform: scale(1.02);
  transition: transform 0.6s ease-in;
  transition-delay: 0.1s;
}

/*-------------- SPOT -------------*/
.spot {
  height: 883px;
  background: url("../../../img/img-spot-banner.png");
  background-position: top center;
  background-size: cover;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .spot {
    height: 883px;
    height: 64.6412884334vw;
  }
}
@media (max-width: 828px) {
  .spot {
    height: 721px;
  }
}
.spot__title {
  width: 822px;
  padding-top: 307px;
  margin: 0 auto;
  font-family: "Lora", sans-serif;
  font-size: 64px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 74px;
}
@media (max-width: 1366px) {
  .spot__title {
    font-size: 64px;
    font-size: 4.6852122987vw;
  }
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .spot__title {
    width: 822px;
    width: 60.1756954612vw;
  }
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .spot__title {
    padding-top: 307px;
    padding-top: 22.4743777452vw;
  }
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .spot__title {
    line-height: 74px;
    line-height: 5.4172767204vw;
  }
}
@media (max-width: 828px) {
  .spot__title {
    font-size: 48px;
    padding-top: 150px;
    line-height: 54px;
    width: 100%;
  }
}

/*-------------- SPOT -------------*/
/*-------------- INFO -------------*/
.info {
  margin-top: 82px;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .info {
    margin-top: 82px;
    margin-top: 6.0029282577vw;
  }
}
@media (max-width: 828px) {
  .info {
    margin-top: 40px;
  }
}
.info__inner {
  margin: auto;
  width: 810px;
  text-align: center;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .info__inner {
    width: 810px;
    width: 59.2972181552vw;
  }
}
@media (max-width: 828px) {
  .info__inner {
    width: 100%;
  }
}
.info__title {
  font-family: "Lora", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #2c2a29;
}
@media (max-width: 1366px) {
  .info__title {
    font-size: 40px;
    font-size: 2.9282576867vw;
  }
}
@media (max-width: 828px) {
  .info__title {
    font-size: 32px;
  }
}
.info__images {
  display: flex;
  padding: 50px 10px;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .info__images {
    padding: 50px 10px;
    padding: 3.6603221083vw 0.7320644217vw;
  }
}
@media (max-width: 828px) {
  .info__images {
    padding: 27px 0;
  }
}
.info__images-item {
  margin-left: 32.5px;
  border-radius: 16px;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .info__images-item {
    margin-left: 32.5px;
    margin-left: 2.3792093704vw;
  }
}
@media (max-width: 828px) {
  .info__images-item {
    margin-left: 4px;
  }
}
.info__images-item:first-child {
  margin-left: 0px;
}
.info__desc {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2c2a29;
  line-height: 22px;
}
.info__desc:last-child {
  margin-top: 16px;
}
@media (max-width: 1366px) {
  .info__desc {
    font-size: 16px;
    font-size: 1.1713030747vw;
  }
}
@media (max-width: 828px) {
  .info__desc {
    font-size: 14px;
  }
}

/*-------------- INFO -------------*/
/*-------------- CONTENT -------------*/
.content {
  padding: 80px 0;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .content {
    padding: 80px;
    padding: 5.8565153734vw;
  }
}
@media (max-width: 828px) {
  .content {
    order: 2;
    padding: 40px 0;
  }
}
.content__block {
  display: flex;
  gap: 8px;
}
@media (max-width: 828px) {
  .content__block {
    flex-direction: column;
  }
}
.content__block:nth-child(1) .content__info {
  padding: 0px 48px 46px 49px;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .content__block:nth-child(1) .content__info {
    padding: 0px 48px 46px 49px;
    padding: 0vw 3.513909224vw 3.3674963397vw 3.5871156662vw;
  }
}
@media (max-width: 828px) {
  .content__block:nth-child(1) .content__info {
    padding: 34px 18px 42px;
  }
}
.content__block:nth-child(2) {
  margin-top: 8px;
}
.content__block:nth-child(2) .content__info {
  padding: 0px 48px 66px 49px;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .content__block:nth-child(2) .content__info {
    padding: 0px 48px 66px 49px;
    padding: 0vw 3.513909224vw 4.831625183vw 3.5871156662vw;
  }
}
@media (max-width: 828px) {
  .content__block:nth-child(2) .content__info {
    padding: 20px 18px;
  }
}
@media (max-width: 828px) {
  .content__block:nth-child(2) .content__info-title {
    font-family: "Lato";
  }
}
.content__block:nth-child(2) .content__info-desc:nth-child(2) {
  margin-top: 40px;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .content__block:nth-child(2) .content__info-desc:nth-child(2) {
    margin-top: 40px;
    margin-top: 2.9282576867vw;
  }
}
@media (max-width: 828px) {
  .content__block:nth-child(2) .content__info-desc:nth-child(2) {
    margin-top: 15px;
  }
}
.content__block:nth-child(2) .content__info-desc:nth-child(3) {
  margin-top: 16px;
}
.content__image {
  border-radius: 24px;
  flex-basis: 50%;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .content__image {
    border-radius: 24px;
    border-radius: 1.756954612vw;
  }
}
@media (max-width: 828px) {
  .content__image {
    order: 2;
    border-radius: 16px;
  }
}
.content__info {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border-radius: 24px;
  align-self: stretch;
  flex-basis: 50%;
  background: #f4f0ea;
  box-sizing: border-box;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .content__info {
    border-radius: 24px;
    border-radius: 1.756954612vw;
  }
}
@media (max-width: 828px) {
  .content__info {
    order: 1;
    border-radius: 16px;
    justify-content: center;
  }
}
.content__info-title {
  font-family: "Lora", sans-serif;
  font-size: 64px;
  font-weight: 400;
  color: #2c2a29;
  line-height: 74px;
}
@media (max-width: 1366px) {
  .content__info-title {
    font-size: 64px;
    font-size: 4.6852122987vw;
  }
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .content__info-title {
    line-height: 74px;
    line-height: 5.4172767204vw;
  }
}
@media (max-width: 828px) {
  .content__info-title {
    font-size: 32px;
    line-height: 42px;
  }
}
.content__info-subtitle {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #2c2a29;
  margin-top: 24px;
  line-height: 30px;
}
@media (max-width: 1366px) {
  .content__info-subtitle {
    font-size: 20px;
    font-size: 1.4641288433vw;
  }
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .content__info-subtitle {
    margin-top: 24px;
    margin-top: 1.756954612vw;
  }
}
@media (max-width: 828px) {
  .content__info-subtitle {
    font-size: 18px;
    margin-top: 16px;
  }
}
.content__info-desc {
  margin-top: 8px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

/*-------------- CONTENT -------------*/
/*-------------- HEADER -------------*/
.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 11;
  padding-top: 30px;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .header {
    padding-top: 25px;
    padding-top: 1.8301610542vw;
  }
}
@media (max-width: 828px) {
  .header {
    padding-top: 8px;
  }
}
.header__noti {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px;
  background-color: #1f1f1f;
  border-radius: 8px;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .header__noti {
    padding: 4px 12px;
    padding: 0.2928257687vw 0.878477306vw;
  }
}
@media (max-width: 828px) {
  .header__noti {
    padding: 4px 9px;
  }
}
.header__noti-message {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  line-height: 20px;
}
@media (max-width: 1366px) {
  .header__noti-message {
    font-size: 12px;
    font-size: 0.878477306vw;
  }
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .header__noti-message {
    line-height: 20px;
    line-height: 1.4641288433vw;
  }
}
@media (max-width: 828px) {
  .header__noti-message {
    font-size: 9px;
    line-height: 14px;
  }
}
.header__noti .header-clock {
  display: flex;
}
.header__noti .header-clock__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 20px;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .header__noti .header-clock__item {
    margin-left: 20px;
    margin-left: 1.4641288433vw;
  }
}
@media (max-width: 828px) {
  .header__noti .header-clock__item {
    margin-left: 15px;
  }
}
.header__noti .header-clock__item--divine::before {
  position: absolute;
  left: -10px;
  color: #fff;
  font-size: 11px;
  content: ":";
}
@media (max-width: 1366px) {
  .header__noti .header-clock__item--divine::before {
    font-size: 11px;
    font-size: 0.8052708638vw;
  }
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .header__noti .header-clock__item--divine::before {
    left: -10px;
    left: -0.7320644217vw;
  }
}
@media (max-width: 828px) {
  .header__noti .header-clock__item--divine::before {
    font-size: 10px;
    left: -10px;
  }
}
.header__noti .header-clock__item-time {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 1366px) {
  .header__noti .header-clock__item-time {
    font-size: 14px;
    font-size: 1.0248901903vw;
  }
}
@media (max-width: 828px) {
  .header__noti .header-clock__item-time {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 400;
  }
}
.header__noti .header-clock__item-text {
  font-family: "Lato", sans-serif;
  font-size: 9px;
  font-weight: 400;
  color: #fff;
  line-height: 10px;
}
@media (max-width: 1366px) {
  .header__noti .header-clock__item-text {
    font-size: 9px;
    font-size: 0.6588579795vw;
  }
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .header__noti .header-clock__item-text {
    line-height: 10px;
    line-height: 0.7320644217vw;
  }
}
@media (max-width: 828px) {
  .header__noti .header-clock__item-text {
    font-family: "Lato", sans-serif;
    font-size: 8px;
    font-weight: 400;
    line-height: 9px;
  }
}
.header__logo {
  margin-left: 192px;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .header__logo {
    margin-left: 192px;
    margin-left: 14.055636896vw;
  }
}
@media (max-width: 828px) {
  .header__logo {
    margin-left: 0;
  }
}
.header__logo-link {
  display: inline-block;
}
@media (max-width: 828px) {
  .header__logo-link {
    width: 67px;
    height: 22px;
  }
}
.header__logo-link img {
  width: 100%;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 12px;
}
.header-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: -6px;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .header-btn {
    margin-top: -6px;
    margin-top: -0.439238653vw;
  }
}
@media (max-width: 828px) {
  .header-btn {
    margin-top: -12px;
    margin-top: -1.4492753623vw;
  }
}
@media (max-width: 828px) and (max-width: 414px) {
  .header-btn {
    margin-top: -6px;
    margin-top: -1.4492753623vw;
  }
}
.header-btn__icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 8px;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .header-btn__icon {
    width: 25px;
    width: 1.8301610542vw;
  }
}
@media (max-width: 828px) {
  .header-btn__icon {
    width: 19px;
  }
}
.header-btn__icon span {
  display: inline-block;
  height: 1px;
  background: #fff;
  width: 100%;
}
.header-btn__text {
  display: inline-block;
  margin-left: 8px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.header .gnb {
  margin-top: -6px;
}
@media (max-width: 1366px) and (max-width: 1366px) {
  .header .gnb {
    margin-top: -6px;
    margin-top: -0.439238653vw;
  }
}
@media (max-width: 828px) {
  .header .gnb {
    margin-top: -12px;
    margin-top: -1.4492753623vw;
  }
}
@media (max-width: 828px) and (max-width: 414px) {
  .header .gnb {
    margin-top: -6px;
    margin-top: -1.4492753623vw;
  }
}
.header .gnb__list {
  display: flex;
}
.header .gnb__item {
  margin-left: 20px;
}
.header .gnb__item:nth-child(1) {
  margin-left: 0px;
}
.header .gnb__item:nth-child(2) {
  margin-left: 12px;
}
.header .gnb__item:last-child {
  margin-left: 15px;
}
.header .gnb__item-link {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

/*-------------- HEADER -------------*/

/*# sourceMappingURL=styles.css.map */
